atomicwrites==1.3.0
attrs==18.2.0
certifi==2018.11.29
cycler==0.10.0
future==0.17.1
graphtools==1.0.0
kiwisolver==1.0.1
magic-impute==1.5.1
matplotlib==3.0.2
mkl-fft==1.0.10
mkl-random==1.0.2
more-itertools==4.3.0
numpy==1.16.1
pandas==0.24.1
pluggy==0.8.1
py==1.7.0
PyGSP==0.5.1
pyparsing==2.3.1
pytest==4.2.0
python-dateutil==2.8.0
pytz==2018.9
scikit-learn==0.20.2
scipy==1.2.0
scprep==0.10.1
six==1.12.0
tasklogger==0.4.2
tornado==5.1.1
